<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Placement Cell</title>
<style>
.style1 {
 
  padding: 100px;
  background: url(https://media.istockphoto.com/photos/user-typing-password-on-computer-security-code-picture-id1283382475?b=1&k=20&m=1283382475&s=170667a&w=0&h=DBb3Xbr8lwlpl0R8apndP1ohBoDKW280jSTsvDq3vEo=);
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

</head>
<body >
<div class=style1>
<h3><a  th:href="@{'/Aboutus'}" style="color:crimson;">Aboutus</a></h3> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />

   <h1><b style="color:lavender">Welcome!!!</b></h1><br>
   <h3><B style="color:cyan;" > PLACEMENT MANAGEMENT </b></h3><BR>
   
   <b style="color:white">ADMIN</b> &nbsp;&nbsp;&nbsp;<a th:href="@{'/adminlogin'}"><input type="submit" class="btn btn-info" value="Open" /></a><br><br><br>
   <b style="color:white">STUDENT </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{'/studentlogin'}"><input type="submit" class="btn btn-info" value="Open" /></a><br><br><br>
   
    </div>
</body>
</html>